# 3 ways

## I. With built-in Python

In [1]:
from datetime import datetime

In [4]:
myyear=2022
mymonth=4
myday=9
myhour=23
mymin=11
mysec=35

In [9]:
mytime=datetime(myyear,mymonth,myday,myhour,mymin,mysec
               )
mytime

datetime.datetime(2022, 4, 9, 23, 11, 35)

In [16]:
mytime.today()

datetime.datetime(2022, 4, 27, 20, 35, 47, 13750)

In [22]:
mytime.day

9

## II. `datetime64[ ]` from Numpy

In [23]:
import numpy as np

In [34]:
# pass in a list of dates together with `dtype`
np.array(['2022-04','2022-07-29','2022-06-16'],dtype='datetime64[h]')

array(['2022-04-01T00', '2022-07-29T00', '2022-06-16T00'],
      dtype='datetime64[h]')

### standard format is year-month-day, can be down to year or year-month

In [57]:
# arange, similar to usual arange with 3 paras: begin, end, freq. For datetime arange need dtype

np.arange('2012-07-18','2013-01-05',30, dtype='datetime64[D]')

# above example, 30 days apart of each other

array(['2012-07-18', '2012-08-17', '2012-09-16', '2012-10-16',
       '2012-11-15', '2012-12-15'], dtype='datetime64[D]')

## III. `to_dataframe` from Panda

In [38]:
import pandas as pd

In [40]:
# a range of dates, requiring start, periods, freq.
pd.date_range('Jan 3, 2020', periods=10, freq='D')

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [42]:
# or 
pd.date_range('2020-01-03', periods=10, freq='D')

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [53]:
# to_datetime, pass in an iterable like list, array...
pd.to_datetime(['1/3/2017','May 5, 2018','2018-01-9'])

DatetimeIndex(['2017-01-03', '2018-05-05', '2018-01-09'], dtype='datetime64[ns]', freq=None)

In [55]:
# using format to indicate type of data
pd.to_datetime(['01/06/2018','5/12/2019'],format='%d/%m/%Y')

DatetimeIndex(['2018-06-01', '2019-12-05'], dtype='datetime64[ns]', freq=None)

### Important: 

#### standard is y-m-d. Pandas can also understand 'Jan 01, 2019' and 'm/d/y'
#### contrast to Numpy which require 0 before one-digit month like 01 for Jan, Pandas can understand 01 and 1, both mean Jan in Pandas

In [58]:
np.random.randn(3,5)

array([[ 1.61816101, -0.97811743,  0.86858171, -0.12217804, -0.8111899 ],
       [-1.10790506,  0.91350869,  0.46290478,  0.60832569, -0.21955475],
       [-0.55369001, -0.06497126, -1.0842291 , -0.60746675,  1.16150072]])

In [65]:
myindex=pd.date_range('2015-04-07',periods=3,freq='D')

In [67]:
df=pd.DataFrame(np.random.randn(3,5), index=myindex, columns=['A','B','C','D','E'])
df

                   A         B         C         D         E
2015-04-07  0.745496  0.287580  0.192212 -1.278934  0.887161
2015-04-08 -1.032526 -0.077230  1.101073  1.113073 -0.005869
2015-04-09  1.594212 -0.643254 -0.937734  1.922701  1.748236

In [69]:
df.index

DatetimeIndex(['2015-04-07', '2015-04-08', '2015-04-09'], dtype='datetime64[ns]', freq='D')

In [71]:
df.index.max()

Timestamp('2015-04-09 00:00:00', freq='D')

In [72]:
df.index.argmax()

2